[submodule "flatpak-builder-tools"]
	path = flatpak-builder-tools
	url = https://github.com/flatpak/flatpak-builder-tools
[submodule "upstream"]
	path = upstream
	url = git@github.com:Nexus-Mods/NexusMods.App.git
